<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <p><center><b>LOGIN!!</b></center></p>
    {% if messages %}
        {% for message in messages %}
        <div style="color:red;">
            {{message}}
        </div>     
        {% endfor %}
    {% endif %} <br>
    <a href="{% url 'useraccounts:logout' %}">Logout</a>
    <a href="{% url 'webapp:home' %}">Home</a>
    <a href="{% url 'useraccounts:register' %}">sign-up</a>
    {% block content %}
    <form action="{% url 'useraccounts:login' %}" method="post">  
        {% csrf_token %}   
        <input type="text" name="username" id="" placeholder="username"><br><br>
        <input type="password" name="password" id="" placeholder="password"><br><br>
        <input type="submit" value="Login">
    </form>
    {% endblock content %}
</body>
</html>