<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <p><center><b>REGISTER!!</b></center></p>
    <a href="{% url 'useraccounts:login' %}">Login</a>
    <a href="{% url 'webapp:home' %}">Home</a>
    <form action="{% url 'useraccounts:register' %}" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <input type="submit" value="sign-up">
    </form>
</body>
</html>