<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <p><center><b>HOME!!</b></center></p>
    {% if user.is_authenticated %}
        <p>Hello {{ user.first_name }}</p> <br>
        <a href="{% url 'useraccounts:logout' %}">Logout</a>
        <form action="{% url 'webapp:home' %}" method="post"><br>
            {% csrf_token %}
            <input type="submit" value="START STREAM"><br>
        </form>
        <a href="{% url 'webapp:excelData' %}"> export to excel </a>
    {% else %}
        <a href="{% url 'useraccounts:register' %}">sign-up</a>
        <a href="{% url 'useraccounts:login' %}">Login</a>
    {% endif %}

</body>
</html>